
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  td {
    border: 1px solid #ddd;
    padding: 8px;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }

  tr:hover {
    background-color: #f5f5f5;
  }

  th.title {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center; /* Centra el texto del título */
  }

  h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }